<div class="center jumbotron">
  <h1>Welcome to kwa.com</h1>
    <h2>
      This is my personal blog and repuation site. Please feel free to reach out or sign up!
  </h2>
  <%= link_to "Sign up", signup_path , class: "btn btn-lg btn-primary"%>
</div>

<%= link_to image_tag('rails.svg', alt: "Rails Logo", width: "200"),
"https://rubyonrails.org/"%>


