<footer>
    <small>
        <a>kwa.com</a>
        created by <a href="https://github.com/koartim">timkoar</a>
    </small>
    <ul>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Blog</a></li>
    </ul>
</footer>